*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto-Regular', 'sans-serif';
    font-weight: 400;
    line-height: 24px;
    color: $text;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.container-fluid {
    min-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

@media(max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }
}

.title {
    text-align: center;
    color: $bg;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 30px;
}