        @import '_vars';
        @import '_global';
        @import '_fonts';
        //start header
        .header__top-inner {
            display: flex;
            justify-content: space-between;
            height: 90px;
            align-items: center;
        }
        
        .header__text {
            margin-left: auto;
            margin-right: 50px;
            span {
                color: $red;
            }
        }
        
        .header__btn {
            padding: 4px;
            width: 72px;
            border-radius: 4px;
            text-align: center;
            color: #fff;
            font-size: 12px;
        }
        
        .header__btn-login {
            background-color: $green;
        }
        
        .header__btn-register {
            background-color: $red;
            margin-left: 7px;
        }
        
        .header__menu {
            background-color: $bg;
        }
        
        .menu {
            display: flex;
            align-items: center;
            height: 60px;
        }
        
        .menu__list {
            li {
                display: inline-block;
                &+li {
                    margin-left: 30px;
                }
            }
            a {
                color: #fff;
                font-size: 14px;
            }
        }
        
        //end header
        //start search
        .search {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 533px;
        }
        
        .search__inner {
            padding: 155px 0px 100px;
            color: #fff;
            text-align: center;
            &-title {
                margin-bottom: 10px;
                font-size: 48px;
                font-weight: 700;
                line-height: 72px;
            }
            &-text {
                margin-bottom: 50px;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
            }
            &-form {
                max-width: 670px;
                margin: 0 auto;
                position: relative;
                input {
                    display: block;
                    width: 100%;
                    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                    border-radius: 4px;
                    height: 56px;
                    border: none;
                    font-size: 14px;
                    font-weight: 500;
                    padding-left: 25px;
                    padding-right: 60px;
                    outline: none;
                    &::placeholder {
                        color: #90a4ae;
                        font-weight: 500;
                    }
                }
                button {
                    position: absolute;
                    border: none;
                    background-color: transparent;
                    right: 20px;
                    top: 16px;
                }
            }
        }
        
        //end search
        //start products
        .products {
            padding: 110px 0px;
            background-color: $grey;
        }
        
        .products__inner-btn {
            text-align: center;
            margin-bottom: 60px;
            button {
                padding: 12px 21px;
                border: none;
                background-color: #fff;
                color: $bg;
                cursor: pointer;
                &+button {
                    margin-left: 5px;
                }
                &.mixitup-control-active {
                    background-color: $red;
                    color: #fff;
                }
            }
        }
        
        .products__inner-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .product__item {
            max-width: 442px;
            width: 100%;
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            margin-bottom: 30px;
            &-img {
                min-height: 250px;
                background-repeat: no-repeat;
                display: block;
                background-position: center;
                background-size: cover;
            }
            &-content {
                display: flex;
                justify-content: space-between;
                padding: 10px 30px;
                align-items: center;
                min-height: 90px;
                font-weight: 500;
                border-bottom: 1px solid #e7ecf2;
            }
            &-name {
                max-width: 310px;
            }
            &-title {
                color: $bg;
                font-weight: 500;
                font-size: 18px;
                display: block;
            }
            &-category {
                display: block;
                font-size: 14px;
                color: $green;
            }
            &-price {
                font-size: 20px;
                color: $bg;
                font-weight: 700;
            }
            &-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 70px;
                padding: 10px 30px;
            }
            &-author {
                display: flex;
                align-items: center;
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-position: center;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                span {
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 40px;
                }
            }
        }
        
        .products__bottom-btn {
            text-align: center;
            button {
                margin: 45px 5px 0;
                box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
                border: none;
                background-color: #fff;
                color: $bg;
                padding: 20px 30px;
                cursor: pointer;
                &.mixitup-control-active {
                    background-color: $red;
                    color: #fff;
                }
            }
        }
        
        //end products